version: "3"

services:
  zookeeper:
    image: zookeeper:3.5
    container_name: zookeeper
    ports:
      - "2181:2181"

  hbase-master:
    image: harisekhon/hbase:1.3
    container_name: hbase-master
    hostname: hbase-master
    environment:
      - HBASE_MANAGES_ZK=false
      - HBASE_DB_ROOTDIR=hdfs://hbase-master:8020/hbase
    ports:
      - "16010:16010"
      - "9090:9090"
      - "8020:8020"
    links:
      - zookeeper
    command: >
      /bin/bash -c "
      /entrypoint.sh &
      echo \"Waiting for HBase Master to start...\" &&
      sleep 10 &&
      echo \"Starting Thrift Server with -f -c options...\" &&
      hbase thrift start -p 9090 --infoport 9095 -f -c
      "
